In [41]:
import json
import pandas as pd

In [42]:
with open("../data/Location History.json") as f:
    data = json.load(f)["locations"]
df = pd.DataFrame(data)
df

,timestampMs,latitudeE7,longitudeE7,accuracy,activity,altitude,velocity,heading,verticalAccuracy
0,1341196685672,146142494,1210643810,20,NaN,NaN,NaN,NaN,NaN
1,1341200340467,146142376,1210643961,20,NaN,NaN,NaN,NaN,NaN
2,1341203996284,146142240,1210643934,20,NaN,NaN,NaN,NaN,NaN
3,1341207608544,146142342,1210643923,20,NaN,NaN,NaN,NaN,NaN
4,1341211267922,146142303,1210643960,20,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
979328,1559826197222,145459366,1210498083,31,NaN,NaN,NaN,NaN,NaN
979329,1559872975295,145460428,1210496966,38,"[{'timestampMs': '1559870740326', 'activity': ...",NaN,NaN,NaN,NaN
979330,1559873096262,145461789,1210497099,39,"[{'timestampMs': '1559873059851', 'activity': ...",NaN,NaN,NaN,NaN
979331,1560295419510,77304720,1251003259,82,"[{'timestampMs': '1560295129384', 'activity': ...",NaN,NaN,NaN,NaN
979332,1560295440169,77304720,1251003259,98,NaN,NaN,NaN,NaN,NaN

In [116]:
df["latitude"] = (df["latitudeE7"] / 10000000)
df["longitude"] = (df["longitudeE7"] / 10000000)
df[["longitude", "latitude"]].to_csv("../output/points.csv", index=False)